<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colegio Patria</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        form {
            max-width: 500px;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            background-color: #f9f9f9;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"], button[type="button"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        button[type="button"] {
            background-color: #007bff;
            color: #fff;
        }

        button[type="button"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <h1>Sistema de recibos del Colegio Patria</h1>
    <form action="/recibo" method="post" id="reciboForm">
        <label for="numero">Número de Docente:</label>
        <input type="number" id="numero" name="numero" required>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required>

        <label for="nivel">Nivel:</label>
        <select id="nivel" name="nivel" required>
            <option value="" disabled selected>Seleccione el Nivel</option>
            <option value="1">1 - Licenciatura o Ingeniería</option>
            <option value="2">2 - Maestro en Ciencias</option>
            <option value="3">3 - Doctor</option>
        </select>

        <label for="pagoHoraBase">Pago base por hora impartida:</label>
        <input type="number" id="pagoHoraBase" name="pagoHoraBase" step="0.01" required>

        <label for="horas">Horas impartidas:</label>
        <input type="number" id="horas" name="horas" required>

        <label for="numHijos">Cantidad de hijos:</label>
        <select id="numHijos" name="numHijos" required>
            <option value="" disabled selected>Seleccione el Numero de hijos</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">Más de 5</option>
        </select>

        <button type="submit">Calcular</button>
        <button type="button" onclick="limpiarFormulario()">Limpiar</button>
    </form>

    <script>
        function limpiarFormulario() {
            document.getElementById("reciboForm").reset();
        }
    </script>
    <%- include('partials/footer.ejs') %>
</body>
</html>
