<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recibo de Pago - Colegio Patria</title>
  <style>
    body {
        font-family: 'Open Sans', sans-serif;
        padding: 20px;
        text-align: center;
    }

    h1 {
        margin-bottom: 30px;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    p {
        text-align: center;
        margin-bottom: 10px;
        font-weight: bold;
    }

    h2 {
        margin-top: 20px;
    }

    h3 {
        margin-top: 20px;
        color: #007bff;
    }
  </style>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/nav.ejs') %>
  <h1>Recibo de Pago</h1>

  <div class="container">
    <% if (isPost) { %>
        <h2 style="color: gray;">Detalles del Docente</h2><br>
        <p>Número de Docente: <%= numero %></p>
        <p>Nombre: <%= nombre %></p>
        <p>Domicilio: <%= domicilio %></p>
        <p>Nivel: <%= nivel %></p>
        <p>Pago por hora base: <%= pagoHoraBase %></p>
        <p>Horas impartidas: <%= horas %></p>
        <p>Cantidad de hijos: <%= numHijos %></p>

        <hr>

        <h2 style="color: gray;">Detalles de Pago</h2><br>
        <p>Pago por horas impartidas: $<%= pagoPorHoras.toFixed(2) %></p>
        <p>Pago por Bono: $<%= bono.toFixed(2) %></p>
        <p>Impuestos: $<%= impuesto.toFixed(2) %></p>
        <p>Total a pagar: $<%= totalAPagar.toFixed(2) %></p>
    <% } else { %>
        <p>Ingrese los detalles del docente para calcular el recibo de pago.</p>
    <% } %>
    <%- include('partials/footer.ejs') %>
  </div>
</body>
</html>
